body {
  background-color: black;
}

.container {
  display: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  border: 5px solid black;
  padding: 150px 100px;
}

.text {
  font-size: 17px;
}
.title {
  font-family: Helvetica;
}

.author {
  font-family: Helvetica;
}
.ascii-art {
  font-family: monospace;
  white-space: pre;
  color:greenyellow
}
