.body {
}

h1 {
  margin: 0;
}

h2 {
  margin: 25px 0 0 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 0.01fr 4fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". week header"
    "M . m-cof"
    "t . t-cof"
    "w . w-cof"
    "Th . th-cof"
    "F . f-cof"
    "S . s-cof"
    "Su . su-cof"
    ". . footer";
}

.img-grid-container {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 5px;
  grid-template-areas: ". .";
}
.week {
  grid-area: week;
}

.header {
  grid-area: header;
  font-family: Noto Sans JP, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;
}

.M {
  grid-area: M;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: #7f4632;
  /* margin: 0%; */
}

.t {
  grid-area: t;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: #7f4632;
}

.w {
  grid-area: w;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: #7f4632;
}

.Th {
  grid-area: Th;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: #7f4632;
}

.F {
  grid-area: F;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: #7f4632;
}

.S {
  grid-area: S;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: #7f4632;
}

.Su {
  grid-area: Su;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  color: #7f4632;
}

.m-cof {
  grid-area: m-cof;
}

.t-cof {
  grid-area: t-cof;
}

.w-cof {
  grid-area: w-cof;
}

.th-cof {
  grid-area: th-cof;
}

.f-cof {
  grid-area: f-cof;
}

.s-cof {
  grid-area: s-cof;
}

.su-cof {
  grid-area: su-cof;
}

.footer {
  grid-area: footer;
}
